Package: screen-translator
Version: 1
Section: graphics
Architecture: amd64
Depends: libtesseract3, libqt5webkit5, libqt5x11extras5 
Recommends: tesseract-ocr-eng, tesseract-ocr-rus, tesseract-ocr-deu, tesseract-ocr-spa, tesseract-ocr-chi-sim, tesseract-ocr-fra, tesseract-ocr-jpn
Installed-Size: 1
Priority: optional
Maintainer: Gres <translator@gres.biz>
Homepage: https://github.com/OneMoreGres/ScreenTranslator
Description: Screen capture, OCR and translation tool.
 This software allows to translate any text on screen.
 Basically it is a combination of screen capture, 
 OCR and translation tools.


