IDI_ICON1               ICON    DISCARDABLE     "images/icon.ico"

#include <windows.h>

#define VER_FILEVERSION             2,0,0
#define VER_FILEVERSION_STR         "2.0.0\0"
#define VER_PRODUCTVERSION          2,0,0
#define VER_PRODUCTVERSION_STR      "2.0.0\0"
#define VER_PRODUCTNAME_STR         "Screen Translator\0"
#define VER_FILEDESCRIPTION_STR     "Screen Translator executable\0"
#define VER_LEGALCOPYRIGHT_STR      "Copyright © 2015\0"
#define VER_INTERNALNAME_STR        "ScreenTranslator\0"
#define VER_ORIGINALFILENAME_STR    "ScreenTranslator.exe\0"
#define VER_COMMENT_STR             "Screen capture, OCR and translation tool\0"
#define VER_COMMPANYNAME_STR        "Gres\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
        VALUE "FileDescription",    VER_FILEDESCRIPTION_STR
        VALUE "FileVersion",        VER_FILEVERSION_STR
        VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
        VALUE "InternalName",       VER_INTERNALNAME_STR
        VALUE "OriginalFilename",   VER_ORIGINALFILENAME_STR
        VALUE "ProductName",        VER_PRODUCTNAME_STR
        VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        VALUE "Comments",           VER_COMMENT_STR
        VALUE "CompanyName",        VER_COMMPANYNAME_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
